# Dependency directories
node_modules/

# Docusaurus build output
build/

# Local development artifacts
.cache/
.DS_Store

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.docusaurus
_images-compressed/
_images